.text-input-container {
    color: white;
    border: none;
    padding: 30px 0 30px 40px ;
    font-size: 23px;
    background: #565656;
    border-radius: 80px;
    width: 100%;
    box-sizing: border-box;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #404040;
    border-radius: 24px;
    padding:24px;
    max-height: 720px;
    width: 640px;
    grid-template-rows: 24px 64px 448px auto;
    padding: 40px;
    box-sizing: border-box;
}

.heading {
    font-size: 23px;
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    padding: 0px 16px 16px 16px;
}

.content {
    padding: 16px;
    overflow: scroll;
}

.bottom-bar {
    display: flex;
    padding: 16px 16px 0 16px;
    font-size: 16px;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 100%;
 }

//COLORS
$green: #3AE04B;

$red: #F3451E;

$grey: #565656;


//TYPOGRAPHY
$f1: 23px;
$f2: 16px;
