.text-input-container {
    color: white;
    border: none;
    padding: 1.6rem 0 1.6rem 2.4rem ;
    font-size: var(--fs-norm);
    letter-spacing: 1px;
    background: #565656;
    border-radius: 80px;
    width: 100%;
    box-sizing: border-box;
}

.card {
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    background: #404040;
    border-radius: 24px;
    min-width: 420px;
    width: 55vw;
    padding: 40px;
    box-sizing: border-box;
}

.heading {
    font-weight: bold;
    color: white;
    letter-spacing: 1px;
    padding: 0px 16px 16px 16px;
}

.content {
    padding: 16px;
    overflow: scroll;
}

.bottom-bar {
    padding: 16px 16px 0 16px;
}

.form {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
    width: 100%;
 }

.router {
    display: flex;
    text-decoration: none;
}

//COLORS
$green: #3AE04B;

$red: #F3451E;

$grey: #565656;
